In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
ERROR! Session/line number was not unique in database. History logging moved to new session 67

In [ ]:
import tensorflow as tf
from tensorflow import keras

import numpy as np
import pandas as pd

In [ ]:
train = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/train.csv')
test = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/test.csv')

In [ ]:
x_train = train.drop('label',axis=1)

In [ ]:
y_train = train['label']

In [ ]:
x_train = x_train / 255
test = test /255

In [ ]:
x_train = x_train.values.reshape(-1,28,28,1)

x_test = test.values.reshape(-1,28,28,1)

In [ ]:
y_train = keras.utils.to_categorical(y_train, 10)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size = 0.1, random_state=101)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPool2D

In [ ]:
model = Sequential()

model.add(Conv2D(filters = 32, kernel_size = (3,3), activation ='relu', input_shape = (28,28,1)))
model.add(Conv2D(filters = 32, kernel_size = (3,3), activation ='relu'))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Conv2D(filters = 64, kernel_size = (3,3), activation ='relu'))
model.add(Conv2D(filters = 64, kernel_size = (3,3), activation ='relu'))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(256, activation = "relu"))
model.add(Dropout(0.5))
model.add(Dense(10, activation = "softmax"))

In [ ]:
model.compile(loss='categorical_crossentropy', optimizer='adam',metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_11 (Conv2D)           (None, 26, 26, 32)        320
_________________________________________________________________
conv2d_12 (Conv2D)           (None, 24, 24, 32)        9248
_________________________________________________________________
max_pooling2d_6 (MaxPooling2 (None, 12, 12, 32)        0
_________________________________________________________________
dropout_11 (Dropout)         (None, 12, 12, 32)        0
_________________________________________________________________
conv2d_13 (Conv2D)           (None, 10, 10, 64)        18496
_________________________________________________________________
conv2d_14 (Conv2D)           (None, 8, 8, 64)          36928
_________________________________________________________________
max_pooling2d_7 (MaxPooling2 (None, 4, 4, 64)          0
_________________________________________________________________
dropout_12 (Dropout)         (None, 4, 4, 64)          0
_________________________________________________________________
flatten_6 (Flatten)          (None, 1024)              0
_________________________________________________________________
dense_11 (Dense)             (None, 256)               262400
_________________________________________________________________
dropout_13 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_12 (Dense)             (None, 10)                2570
=================================================================
Total params: 329,962
Trainable params: 329,962
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(x_train, y_train, 
          epochs=10,
          batch_size=32,
          verbose=1)

ERROR! Session/line number was not unique in database. History logging moved to new session 70
WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

37800/37800 [==============================] - 19s 500us/step - loss: 0.2321 - acc: 0.9252
Epoch 2/10
37800/37800 [==============================] - 6s 155us/step - loss: 0.0742 - acc: 0.9772
Epoch 3/10
37800/37800 [==============================] - 6s 155us/step - loss: 0.0590 - acc: 0.9824
Epoch 4/10
37800/37800 [==============================] - 6s 156us/step - loss: 0.0478 - acc: 0.9855
Epoch 5/10
37800/37800 [==============================] - 6s 157us/step - loss: 0.0427 - acc: 0.9874
Epoch 6/10
37800/37800 [==============================] - 6s 157us/step - loss: 0.0360 - acc: 0.9890
Epoch 7/10
37800/37800 [==============================] - 6s 156us/step - loss: 0.0350 - acc: 0.9899
Epoch 8/10
37800/37800 [==============================] - 6s 156us/step - loss: 0.0300 - acc: 0.9912
Epoch 9/10
37800/37800 [==============================] - 6s 156us/step - loss: 0.0284 - acc: 0.9915
Epoch 10/10
37800/37800 [==============================] - 6s 159us/step - loss: 0.0261 - acc: 0.9920

In [ ]:
prediction = model.predict_classes(x_test, verbose=0)

In [ ]:
output = pd.DataFrame({"ImageId": list(range(1,len(prediction)+1)),
                       "Label": prediction})

output.to_csv('/content/gdrive/My Drive/Colab Notebooks/digit_recon.csv', index=False, header=True)